body{
    background-color: gray;
}
.container{
    background-color: aliceblue;
    align-items: center;
    width: 500px;
    height: 600px;border: 3px;
    box-sizing: border-box;
    display: block;
    text-align: center;
}
.form-title{
margin-left: 25px;
padding: 0%;
align-items: center;

}
h1{
margin-bottom: 0%;
padding-top: 30px;
    
}
.para{
 margin-top: 0%;
}
.input{
    width: 220px;
    height: 25px;
    margin: 10px;
}
.calender{
    display: flex;
    gap: 28px;
    margin-left: 10px;
}
.cal{
    width: 140px;
    height: 30px;
}
h5{
    margin-bottom: 0%;
    text-align: left;
    margin-left: 10px;
    font-size: medium;
}
.gender{
width: 250px;
}

.password{
    width: 465px;
    height: 25px;
    margin: 5px;

}
.number{
    width: 465px;
    height: 25px;
    margin: 5px;
}
.last{
    padding-top:  0%;
    color: blueviolet;
    margin-top: 0%;
}
.sign{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 150px;
}
.description{
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
}
.labelholder{
    gap: 55px;
    display: flex;
    margin: 10px;
}