body{
  background-color: rgb(240, 240, 240);
  text-align: center;
  
}
.container{
  width:400px;
  height: 600px;
  padding: 20px 20px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 25px;
  border: 10px;
  transition: 0.2s;
  background-color: white;

}
h1{
  font-size: large;
  text-align: center;
  color: blueviolet;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
p{
  margin-top: 0%;
  
}
label{
  font-size: 15px;
  display: block;
  width: 200px;
  text-align: left;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 5px;
  color: blueviolet;
}
input{
  display: block;
  width: 400px;
  padding: 5px;
  margin-bottom: 5px;
  text-align: justify;
  border-radius: 5px;
  border: 15px;
  color: black;
  background-color: rgb(240, 240, 240);
}
.dob{
  font-size: 12px;
  display: inline;
  width: 200px;
  text-align: left;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 5px;
  color: blueviolet;
}

.sign-up{
  background-color: green;
  color: white;
  height: 30px;
  width: 75px;
  border: none;
  border-radius: 5px;
}
input[type='radio'] {
  display: inline;
  width: 70px;
  font-size: 20px;
  margin-bottom: 10px;
}
.paragraph{
  font-size: 13px;
}